<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
  My Bookings
</div>
<%# <h1><strong>My Bookings</strong></h1> %>
<div class="cards">
  <% @bookings.each do |booking| %>
    <%= link_to toilet_path(booking.toilet) do %>
      <div class="card-category">
      <%= cl_image_tag booking.toilet.photo.key %>
        <div class="card-toilet-info" style="color:black">
          <div class="flex">
            <h1><%= booking.toilet.name %></h1>
            <h2><%= booking.start_date %></h2>
            <br><h2><%= booking.end_date %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
