<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
  Forgot your password?
</div>
<div class="container-new-form">
  <div class="form-new">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions button-div">
        <%= f.button :submit, "reset password", class:"btn-reset" %>
      </div>
    <% end %>

    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
