<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
</div>
<%= simple_form_for(@toilet) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
   <%# <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
