<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
  My Toilets
</div>
<%# <h1><strong>My Toilets</strong></h1> %>
  <div class="cards">
    <% @toilets.each do |toilet| %>
      <%= link_to toilet_path(toilet) do %>
        <div class="card-category">
         <%= cl_image_tag toilet.photo.key, crop: :fill, class:"my-custom-img"  %>
          <div class="card-toilet-info" style="color:black">
            <div class="flex">
              <div>
              <h2><strong><%= toilet.name %></strong></h2>
              <br><p><%= toilet.description %></p>
              </div>
              <h2>$<%= toilet.price %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
