<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
  Create Toilet
</div>
<div class="container-new-form">
  <div class="form-new">
    <%= simple_form_for(@toilet) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <div class="button-div">
      <%= f.submit  class: "btn-new"%>
      </div>
    <% end %>
  </div>
</div>
