<div class="card-category-no-curve" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.securitysafetyproducts.co.uk/images/upload/products_image2-1672-d.jpg)">
  <h1><%= @toilet.name %></h1>
</div>
<p></p>
<div>
  <%= link_to "Back", toilets_path, class: "btn-new" %>
</div>
  <%# put picture here %>
  <%# <div class="card-product">
  <img src="https://bouncymustard.com/wp-content/uploads/2020/10/2-funny-bathroom-design-fail.jpg" />
    <div class="card-product-infos">
      <%# <p><strong><%= @toilet.description %>
      <%# <p><%= @toilet.price</p> %>
    <%# </div>
  </div>  %>

<div class="container">
  <div class="showpage-container">


    <div class="description-container">
      <img src="https://bouncymustard.com/wp-content/uploads/2020/10/2-funny-bathroom-design-fail.jpg" class="my-custom-img"/>
      <div class="card-product">
        <p><strong>Name:</strong> <%= @toilet.name %></p>
        <hr>
        <p><strong>Description:</strong> <%= @toilet.description %>
        </p>
        <hr>
        <p><strong>Price:</strong> £<%= @toilet.price %></p>
      </div>
    </div>

    <div class="my-customised-settings card-product-booking">

      <% if current_user != @toilet.user %>
        <%= simple_form_for [@toilet, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <div class="button-div">
            <%= f.submit "Book", class: "btn-show" %>
          </div>
        <% end %>
      <% end %>

      <% if current_user == @toilet.user %>
        <%= simple_form_for(@toilet) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%# <%= f.input :photo, as: :file %>
          <div class="button-div">
            <%= f.submit "Update", class: "btn-show", data: {turbo_method: :update} %>
            <%= f.submit "Delete", class: "btn-show-delete", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
