<div>
  <%= link_to "Back", toilets_path, class: "btn btn-flat" %>
</div>
<h1><%= @toilet.name %></h1>
<%# put picture here %>
<div class="card-product">
<img src="https://bouncymustard.com/wp-content/uploads/2020/10/2-funny-bathroom-design-fail.jpg" />
  <div class="card-product-infos">
    <p><strong><%= @toilet.description %></strong>
    <p><%= @toilet.price %></p>
  </div>
</div>


<% if current_user == @toilet.user %>
  <%= link_to "Delete",
    toilet_path(@toilet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <%= link_to "Update",
  edit_toilet_path(@toilet) %>
<% end %>
